@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  background-color: #F2F2F2;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Button */
.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  padding: 8px 50px;
}

.button-blue {
  background-color: #82B3D3;
}

.button-transparent {
  background-color: transparent;
}

.button-green {
  background-color: #7DB54F;
}

/* Header */
.page-header {
  position: relative;
  z-index: 1;
  margin-bottom: -6px;
}

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-logo {
  line-height: 0;
}

.page-header-logo {
  width: 140px;
  margin-right: 30px;
  margin-left: 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 20px 16px;
}

.navigation-user {
  max-width: 290px;
  margin-left: auto;
  margin-right: 70px;
}

.navigation-user .navigation-link {
  min-width: 44px;
  min-height: 64px;
  padding: 0;
}

.navigation-user .navigation-link.button {
  min-height: 0;
  margin-top: 14px;
  padding: 8px 34px;
  margin-left: 20px;
  color: #FFFFFF;
  text-transform: uppercase;

}

.favourites {
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  background-color: #7DB54F;
}

/* Main */
.main-container {
  flex-grow: 1;
}

.index-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

.index-description {
  text-align: center;
  color: #333333;
  margin: 0 auto;
}

/* Hero */
.hero {
  text-align: center;
  background-image: url("../images/triangle.svg"), url("../images/background-hero.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #333333;
}

.hero-welcome {
  display: block;
  padding-top: 51px;
  padding-bottom: 81px;
  margin: 0 auto;
}

/* Advantages */
.advantages .index-title {
  width: 620px;
  padding-top: 69px;
}

.advantages .index-description {
  width: 651px;
  padding-top: 25px;
  padding-bottom: 69px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-top: 21px;
  padding: 0;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.advantages-item-img {
  display: flex;
  width: 1200px;
  background-color: #82B3D3;
  color: #FFFFFF;
}


.advantages-item-dark {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 175px;
  margin: 100px auto 62px;
}

.advantages-item-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  width: 230px;
  margin: 30px auto 102px;
}

.advantages-item-img .advantages-item-description {
  color: #FFFFFF;
}

.text-column {
  width: 400px;
}

.img-column {
  width: 800px;
}

.advantages-img {
  display: block;
  margin: 0;
}

/* Advices */
.advices {
  text-align: center;
}

.advices .index-title {
  width: 505px;
  padding-top: 64px;
}

.advices .index-description {
  width: 505px;
  padding-top: 20px;
  padding-bottom: 64px;
}

.advices-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advices-item {
  width: 400px;
  box-sizing: border-box;
  padding: 81px 85px;
}

.advices-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advices-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 230px;
  margin: 0;
  padding-top: 102px;
  padding-bottom: 20px;
}

.advices-item-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 230px;
  margin: 0;
}

/* Hotel-search */
.hotel-search {
  text-align: center;
  padding: 96px 304px;
}

.hotel-search .index-title {
  width: 297px;
  padding-bottom: 20px;
}

.hotel-search .index-description {
  width: 592px;
  padding-bottom: 54px;
}

.hotel-search .button {
  font-size: 20px;
  line-height: 36px;
}

/* Subscribe */
.subscribe {
  color: #FFFFFF;
  background-color: #82B3D3;
  background-image: url("../images/background-subscribe.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 96px 258px 104px;
}

.inner-subscribe {
  padding: 96px 258px 104px;
}

.subscribe .index-title,
.inner-subscribe .index-title {
  width: 404px;
  margin-bottom: 20px;
}

.subscribe .index-description,
.inner-subscribe .index-description {
  width: 475px;
  margin-bottom: 54px;
}

.subscribe .index-description {
  color: #FFFFFF;
}

.subscribe-form {
  text-align: center;
  display: flex;
}

.field {
  width: 452px;
  border: none;
  font-size: 18px;
  line-height: 24px;
  padding: 14px 0 14px 20px;
}

.inner-subscribe .field {
  background-color: rgba(0, 0, 0, 0.2);
}

.subscribe .button,
.inner-subscribe .button {
  font-size: 20px;
  line-height: 36px;
}

/*Footer */
.page-footer {
  display: flex;
  padding: 40px 70px 30px;
}

.footer-social {
  width: 144px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 48px;
  height: 40px;
}

.footer-contacts {
  width: 720px;
}

.footer-contacts-address {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.footer-contacts-address-phone {
  text-decoration: none;
  color: inherit;
}

.page-footer-logo {
  width: 115px;
  margin-left: auto;
}

/* Catalog */
.decoration-container {
  background-image: url("../images/background-filter.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #FFFFFF;
  background-color: #82B3D3;
  padding: 35px 70px 70px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 8px;
}

.breadcrumbs-title {
  font-size: 16px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  margin-right: 28px;
}

/* Filters */
.filters {
  margin-top: 40px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  width: 150px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

/* Catalog-hotels */
.catalog-hotels {
  padding: 50px 70px 60px;
}

.sorting-container {
  display: flex;
}

.catalog-filter-search {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  width: 338px;
  margin-right: 200px;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 200px;
  margin-right: 70px;
}

.visual-display-list {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  list-style-type: none;
  margin: 0;
  margin-left: 70px;
  padding: 0;
}

.visual-display-item {
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 0;
}

.visual-display-item:not(:nth-child(3n)) {
  margin-right: 8px;
}

.hotel-list {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  margin: 40px 0 80px
}

.hotel-card {
  width: 300px;
  margin-right: 20px;
}

.hotel-card-link {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
  Line-height: 28px;
  font-weight: 700;
}

.hotel-card-type,
.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-raiting span {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.raiting-star {
  background-image: url("../images/star.svg");
  background-repeat: no-repeat;
}

/* Pagination */
.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 23px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  background-color: #82B3D3;
}

.dots {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 23px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

/* Inner-subscribe */
.inner-subscribe {
  color: #000000;
}
